/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/logs
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.setting
.svn
.htaccess
.project
.buildpath
.env
composer.json
package-lock.json
resources/assets/js/api/index.js
