.circle-button {
    background-color: #ecf0f1;
    color: #2c3e50;
    border-radius: 50%;
    padding: 0.75em !important;
    text-align: center;
    box-shadow: #7f8c8d 2px 2px;
}

.post-info-item {
    padding-right: 0;
    min-width: 60px;
}

.verification-icon {
    margin-right: 5px;
}

.verification-icon img{
    width: 40px;
    height:40px;
    border-radius: 0 !important;
}

.notification-icon svg{
    color: #27ae60
}

.avatar {
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
    width: 80px;
    height: 80px;
    /* margin-top: 15px; */
}

.info-number-line {
    max-width: 200px;
}

.custom-card {
    padding: 15px 0px;
}

.custom-card svg {
    font-size: 1.25em
}

.seperate-line {
    clear: both
}

.custom-textarea {
    padding: 0;
    border: none;
}

#map {
    height: 200px;
}