/* Mobile Menu */

.mobile-header {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2000;
    border-bottom: solid 2px;
}

.more-menu {
    position: absolute;
    top: 13px;
    left: 15px;
}

.mobile-icons {
    margin-top: 10px;
    border-top: 2px solid;
    border-color: #0091ff3b;
    padding-top: 10px;
}

.mobile-menu-bottom {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding: 10px 0px;
    border-top: 2px solid;
    border-color: #0091ff3b;
    margin: auto;
}

.menu-bottom-image {
    max-width: 30px;
    height: auto;
}
@media screen and (max-width: 1024px) {
    .couple-button{
        padding-bottom: 170px;
    }
    .col-left{
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .control-icon.more.has-items {
        font-size: 1.5em;
        margin: 0 !important;
    }

    .header-spacer {
        display: block;
        height: 130px;
    }
    .verify-block {
        margin-top: 10px;
    }
    .slick-slide img{
        width: 100% !important;
    }
    .couple-button{
        padding-bottom: 40px;
    }
    .leftslider{
        padding-right: 15px;
    }
    .main-content-wrap{
        padding-right: 15px;
        padding-left: 15px;
    }
    .profile-layout .main-content-wrap{
        margin-left: 0px;
    }
    .profile-layout .col-left{
        width: 100%;
        z-index: 2000;
        box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.16);
        background: white;
        padding-top: 10px;
        margin-left: 0px;
    }
    .profile-layout .col-right{
        padding-left: 15px;
        margin-top: 205px;
        margin-left: auto;
    }
    .disable-mobile{
        display: none;
    }
    .disable-desktop{
        display: block;
    }
    .container{
        height: 100%;
        overflow: hidden;
    }
    .top-div{
        position: fixed;
        z-index: 2000;
        width: 100%;
        display: block;
        top: 130px;
        padding-left: 15px;
        padding-right: 15px;
        left: 0;
        background: white;
        padding-top: 15px;
    }
    .top-div .friend-controls-block{
        width: 90%;
        display: block;
        margin-top: 10px;
    }
    .bottom-div{
        margin-top: 160px;
    }
    .bottom-div.current-user{
        margin-top: 170px;
    }
    .bottom-div .profile-timeline{
        margin-top: 0px;
    }
    .td-block-title-wrap{
        width: 100%;
    }
    .td-block-title-wrap .profile-title{

        margin-bottom: 0px;
    }
    .td-block-title-wrap .td-subcat-filter{

        float: right;
        margin-top: 0px;
    }
    .td-block-title-wrap .td-subcat-filter .td-subcat-list{
        display: flex;
        margin-bottom: 0;
        width: 100%;
        justify-content: space-between;
    }
    .td-subcat-link{
        font-size: 12px;
    }
    .profile-controls .btn-upload-photo{
        margin-top: 10px;
    }
}
@media screen and (max-width: 576px){
    .group-navigator{
        margin-bottom: 10px;
    }
    .search-box{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .post .post-actions .btn-post{
        font-size: 12px;
    }
    .search-box .form-control{
        font-size: 14px;
    }
    .couple-button{
        padding-bottom: 40px;
    }
    .wave .wave-form{
        margin-bottom: 30px;
    }
    /*.image-card img{*/
        /*width: auto;*/
    /*}*/
    .btn-user-photo b, .btn-upload-photo b{
        font-size: 10px;
    }
    .profile-images .col-xl-3,.profile-images .col-lg-3,.profile-images .col-md-3,.profile-images .col-sm-3,.profile-images .col-xs-3{
        width: 33.3%;
    }
}
.author-mobile{
    position: fixed;
    left: -100%;
    top: 50px;
    transition: all 500ms ease;
    width: 100%;
}
.author-mobile .author-thumb{
    width: 100%;
}
.author-mobile.active{
    left: 0;
    z-index: 1000;
}
.author-mobile.active .more-dropdown{
    visibility: visible;
    top: 52%;
    z-index: 1000;
    opacity: 1;
    left: 0;
    width: 80%;
    padding: 0px;
}