/*LOGIN PAGE*/
.login-page{
    background-image: url("../../public/images/main/landing.png");
    background-position: top;
    background-size: cover;
    overflow: hidden;
    min-height: 1000px;
}
@media (min-width: 1920px){
    .login-page .container {
        max-width: 1640px;
    }
}

.login-page .head-content{
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
.login-page .head-content .logo{
    margin: 20px 0px 20px 80px;
}
.login-page .head-content .nav{
    margin: 20px 80px 20px 0px;
}
.login-page .head-content .nav .nav-link{
    color: #ffffff;
    font-size: 24px;
}
.login-page .c-text{
    color: #ffffff !important;
}
.login-page .page-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 40px auto;
}
.login-page .body-content{
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 80px;
}
.login-page .body-content h4{
    font-weight: normal;
    font-size: 23px;
}
.login-page .body-content .description{
    padding-top: 30px;
    padding-bottom: 30px;
}
.login-page .body-content .btn-register-phone{
    border-radius: 10px;
    color: #ffffff;
    background-color: #3464D4;
    border-color: #3464D4 ;
}

.login-page .body-content .btn-register-phone:hover{
    color: #ffffff;
}
.login-page .body-content .links{
    margin-top: 25px;
    margin-bottom: 40px;
    display: inline-block;
}
.login-page .body-content .new-users{
    background-color: rgba(255,255,255,0.9);
    padding-top: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.login-page .body-content .new-users .users{
    display: flex;
}
/*END LOGIN PAGE*/