/*LOGIN PAGE*/
.authen-page{
    background-image: url("../../public/images/main/landing.jpg");
    background-position: top;
    background-size: cover;
    overflow: hidden;
    min-height: 1000px;
}
@media (min-width: 1920px){
    .authen-page .container {
        max-width: 1640px;
    }
}
.authen-page .container-fluid{
    background-color: rgba(0,0,0,0.3);
    height: 70px;
}
.authen-page .head-content{
    width: 100%;
}
.authen-page .head-content .logo{
    margin: 10px auto;
}
.authen-page .head-content .nav{
    margin: 10px auto;
}
.authen-page .head-content .nav .nav-link{
    color: #ffffff;
}
.authen-page .c-text{
    color: #ffffff !important;
}
.authen-page .page-title{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 40px auto;
}
.authen-page .body-content{
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 80px;
}
.authen-page .body-content h4{
    font-weight: normal;
}
.authen-page .body-content .description{
    padding-top: 30px;
    padding-bottom: 30px;
}
.authen-page .body-content .btn-register-phone{
    border-radius: 10px;
    color: #ffffff;
    background-color: #3464D4;
    border-color: #3464D4 ;
}

.authen-page .body-content .btn-register-phone:hover{
    color: #ffffff;
}
.authen-page .body-content .links{
    margin-top: 25px;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
}
.authen-page .body-content .links .fa-facebook-square::before{
    position: absolute;
    top: -5px;
    right: -35px;
}
.authen-page .body-content .new-users{
    background-color: rgba(255,255,255,0.9);
    padding-top: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.authen-page .body-content .new-users .users{
    display: flex;
    overflow: auto;
    width: 100%;
}
.authen-page .form-horizontal{
    margin-left: 30px;
    margin-right: 30px;
}
/*END LOGIN PAGE*/